.landing {
  display: flex;
  padding: 1rem 3rem 0 3rem;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.landing__content {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.landing__image {
  width: 35%;
}

.landing__title {
  font-weight: 800;
  font-size: 2.4rem;
  padding: 1.6rem 0;
  color: #0690ec;
}

.landing__description {
  font-size: 1rem;
}

.landing__btn {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  background-color: #1d9bf0;
  border: 1px solid #1d9bf0;
  color: white;
  cursor: pointer;
  margin: 1.4rem 0;
}

.landing__btn:hover {
  background-color: #0690ec;
}

@media only screen and (max-width: 800px) {
  .landing {
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }
  .landing__content {
    width: 100%;
  }

  .landing__image {
    width: 100%;
  }

  .landing__title {
    font-weight: 800;
    font-size: 2.3rem;
    padding: 1rem 0;
    color: #0690ec;
  }

  .landing__description {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 500px) {
  .landing {
    height: 100%;
  }
}
